# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual environment
venv/
.venv/
env/

# Environment variables
.env
.env.*

# Exception: keep example environment file
!.env.example

# Database
*.db
*.sqlite3

# Uploads
uploads/*
!uploads/.gitkeep

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Node
node_modules/
dist/
build/

# Frontend
.angular/